html {
	@each $color, $value in map-get($colors-app, 'light') {
		#{$color}: #{$value};
	}
}

html[data-theme='dark'] {
	@each $color, $value in map-get($colors-app, 'dark') {
		#{$color}: #{$value};
	}
	::-webkit-calendar-picker-indicator {
		filter: invert(1);
	}
}

html {
	font-size: $font-size-root;
	font-family: $body-font-family;
	line-height: $line-height-root;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: var(--bg-1);
	color: var(--text-1);
}

html,
body,
#__nuxt {
	height: 100%;
}

#__nuxt {
	display: flex;
	flex-direction: column;
}

html.overflow-y-hidden {
	overflow-y: hidden !important;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

@supports (-webkit-touch-callout: none) {
	body {
		cursor: pointer;
	}
}

.b-divider {
	height: 1px;
	width: calc(100% - 20px);
	background-color: color('grey', 'lighten-2');
	margin: 0 10px;
}

a {
	text-decoration: none;
	color: var(--text-1);
	transition: all 0.25s ease-out;
	&:hover {
		color: color('app', 'primary');
	}
}

input {
	color: var(--text-1);
}

.scroll-none {
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.v-spacer {
	flex: 1 1;
}

.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}

.router-link-active {
	color: color(app, primary);
}

.cursor-pointer {
	cursor: pointer;
}

.first-letter::first-letter {
	text-transform: uppercase;
}
