.fw {
  @each $key, $value in $font-weights {
    &-#{$key} {
      font-weight: $value;
    }
  }
}

.text {
  @each $key, $value in $headings {
    &-#{$key} {
      font-size: map-get($value, 'size');
      font-weight: map-get($value, 'weight');
      line-height: map-get($value, 'line-height');
      letter-spacing: map-get($value, 'letter-spacing');
      font-family: map-get($value, 'font-family');
      text-transform: none;
    }
  }
}
